" Key-Bindings
" Remove arrow keys
noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>

" Buffer movement in insert mode
inoremap <expr> <C-j> pumvisible() ? "\<C-n>" : "\<Down>"
inoremap <expr> <C-k> pumvisible() ? "\<C-p>" : "\<Up>"
inoremap <C-h> <Left>
inoremap <C-l> <Right>

" Map <leader> to ,
:let mapleader = ","

" Yank and paste into a non-default register
:map <leader>y "0y
:map <leader>p "0p

" Activate vim-surround
set surround
" Activate vim-multiple-cursors
set multiple-cursors
" Activate ideajoin (better 'J'): https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set ideajoin
